/* Basic */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #18191f;
}

/* Reuseable CSS */
img {
  max-width: 100%;
}

p {
  line-height: 1.8;
}

h1 {
  font-size: 50px;
  color: #333333;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.heading {
  font-size: 35px;
  font-weight: 700;
  color: #333333;
}

.paragraph-text {
  margin: 30px 0;
  color: #242424;
}

.white-color {
  color: #ffffff;
}

.yellow-color {
  color: #ffad5a;
}

.bg-light-blue {
  background-color: #edf5f6;
}

.bg-light-red {
  background-color: #fff4d6;
}

.bg-light-yellow {
  background-color: #ffeeee;
}

.border-left {
  border-left: 4px solid #ff5959;
  padding-left: 10px;
}

.btn {
  border: none;
  text-decoration: none;
  background-color: #ff5959;
  border-radius: 5px;
  padding: 15px 35px;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #ff5959;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #242424;
  background-color: transparent;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.flexible-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.half-width {
  width: 50%;
  padding: 0 25px;
}

.width-1-of-3 {
  width: 33.33%;
  padding: 0 25px;
}

.width-2-of-3 {
  width: 66.66%;
  padding: 0 25px;
}

.width-1-of-4 {
  width: 25%;
  padding: 0 25px;
}

.section-title {
  width: 500px;
  max-width: 100%;
  margin: 0 auto 70px auto;
  text-align: center;
}

/* Banner Area */
#banner-area {
  padding: 30px 0 50px 0;
}

/* Mission Area */
#mission-area {
  padding-bottom: 100px;
}

.mission-card {
  border-radius: 20px;
  padding: 25px;
}

.mission-card img {
  width: 120px;
}

.mission-card .mission-title {
  color: #18191f;
  margin-top: 15px;
  font-size: 22px;
  font-weight: 800;
}

.mission-card .mission-description {
  margin: 15px 0 25px 0;
  color: #18191f;
}

/* Global Community Area */
#global-community-area {
  padding: 100px 0;
}

/* Build Corona App Area */
.corona-app-img {
  width: 350px;
  max-width: 100%;
}

/* Showcase Area */
#showcase-area {
  padding: 50px 0 100px 0;
}

.project-box {
  border: 1px solid #e4e4e4;
}

.project-box img {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}

.project-box h3 {
  padding: 15px;
}

/* Contact Area */
#contact-area {
  padding: 70px 0;
}

#contact-form {
  background-color: #ffffff;
  width: 650px;
  max-width: 100%;
  padding: 50px;
  border-radius: 10px;
  margin: auto;
}

#contact-form input,
#contact-form textarea {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #828282;
}

#contact-form textarea {
  height: 100px;
}

/* Footer Area */
footer {
  padding: 40px 0 60px 0;
  background-color: #0b0d17;
  text-align: center;
}

footer .logo {
  color: #999999;
}

/* Media  Query */
/* For Tablet */
@media only screen and (max-width: 991px) {
  .flexible-content {
    align-items: flex-start;
  }

  .half-width {
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }

  .width-1-of-3,
  .width-1-of-4 {
    width: 50%;
    padding: 20px;
  }
}

/* For Mobile */
@media only screen and (max-width: 991px) {
  .flexible-content {
    flex-direction: column;
  }

  .half-width,
  .width-1-of-3,
  .width-2-of-3,
  .width-1-of-4 {
    width: 100%;
    padding: 30px 0;
  }

  .half-width {
    padding: 50px 0;
  }

  #contact-form {
    padding: 50px 25px;
  }

  section,
  footer {
    padding: 0 20px;
  }

  footer {
    padding: 20px;
  }
}
